<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sera.blog.dao.user.UserDao">
    <!-- 新增用户 -->
    <insert id="insertUser" parameterType="user" useGeneratedKeys="true" keyProperty="id">
		INSERT INTO `user`(name, password, createUser, createTime)
		VALUES(#{name}, #{password}, #{createuser}, now())
	</insert>

    <!-- 获取用户详情 -->
    <select id="selectUserDetail" parameterType="java.util.Map" resultType="user">
		SELECT
		name, password
		FROM `user`
		WHERE id = #{id}
	</select>
</mapper>